POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_FERNET_KEY=egkwLUYtHNJMar3Wl68aE7qFa5L_Ir_Y9TosRdNTkR0=
AIRFLOW_WEBSERVER_SECRET_KEY=propensity_pipeline_shared_secret_key_2026

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
BROADCAST_TOPIC=propensity_scores.broadcast

STREAMLIT_HEALTH_URLS=http://streamlit:8501/healthz,http://localhost:8501/healthz
